* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    transition: 0.3s;
}

header {
    position: sticky;
    top: 0;
    background: #020617;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: #38bdf8;
}

nav a {
    margin: 0 12px;
    color: #e5e7eb;
    text-decoration: none;
}

nav button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.btn {
    margin-top: 20px;
    padding: 10px 30px;
    background: #38bdf8;
    color: #020617;
    border-radius: 25px;
    text-decoration: none;
}

section {
    padding: 60px 80px;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skill-box div {
    background: #020617;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 15px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info {
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    line-height: 1.8;
}

.contact-info a {
    color: #38bdf8;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

form button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
}

.socials a {
    margin: 0 10px;
    color: #38bdf8;
    text-decoration: none;
}


/* Responsive */

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}